@charset "utf-8";

.c-heading {
  margin: 0;
  font-weight: 700;

  &--1 {
    padding: 0 0 40px;
    border-bottom: 1px solid map-deep-get($tokens, colors, ui, secondary);
  }

  &--2 {
    padding: 0 0 24px;
  }

  &--3 {
    padding: 0 0 16px;
  }

  &__sub {
    font-size: 0.8em;
    font-weight: 300;
  }
}